body {
  background: url('/img/colored-pencil-pattern1144.png');
  margin: 0px auto 0px auto;
}

header {
  margin: 0px auto;
  width: 940px;
  background-color: white;
}

#content {
  background-color: white;
  width: 940px;
  margin: 0px auto;
}

#logo {
  margin: 5px 0px 10px 0px;
  width: 170px;
}

#social_icons {
  margin-top: 11px;
  text-align: right;
}

#timeline {
  margin-bottom: 10px;
}

.carousel-control {
  margin-top: 30px;
}

footer {
  width: 940px;
  background: url('/img/grey_wash_wall.png');
  color: white;
  margin: 0px auto;
}

#my-carousel {
  margin-left: -20px;
  width: 940px;
}

#hc-images {
  overflow-x: scroll;
  overflow-y: hidden;
  height: 480px;
}

#hc-images #hc-inner {
  width: 1885px;
}

#hc-images img {
  display: inline-block;
  margin-right: 10px;
}
