.row
  .span12
    #my-carousel.carousel.slide
      .carousel-inner
        .active.item
          a href="/happy-colors"
            img src="/img/happycolors.jpg"
        .item
          img src="/img/stickermania.jpg"
          <!-- Carousel nav -->
      a class="carousel-control left" href="#my-carousel" data-slide="prev" &lsaquo;
      a class="carousel-control right" href="#my-carousel" data-slide="next" &rsaquo;

.row-fluid
  .span12
    h1 Bravecat Apps
    p.lead
      ' Bravecat apps is a team that creates mobile applications and games for chlidren. Please, check out our the first iPad application,
      a href="/happy-colors" Happy Colors coloring book.

.row-fluid
  .span6
    a height="500px" class="twitter-timeline" href="https://twitter.com/bravecatapps" data-widget-id="359367391089659904" Tweets by @bravecatapps
    javascript:
      !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");

  .span6
    #fb-root
    javascript:
      (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_GB/all.js#xfbml=1&appId=279977982100007";
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
    .fb-like-box data-href="https://www.facebook.com/BravecatApps" data-width="440" data-height="520" data-show-faces="true" data-stream="true" data-show-border="true" data-header="true"

.row-fluid
  .span12
    h2 Timeline
.row-fluid#timeline
  .span6
    a height="520px" class="twitter-timeline" href="https://twitter.com/search?q=%40bravecatapps+OR+%23happycolorsapp" data-widget-id="359369292761952256">Tweets about "@bravecatapps #happycolorsapp"</a>
    javascript:
      !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
