.row-fluid
  .span12
    h2 Team
.row-fluid
  .span6
    h4 Svetlana Tigai
    p CG Art
    img src="/img/Sveta.jpg"
    p
    ul.unstyled
      li
        a href="http://tsvetka.daportfolio.com/" http://tsvetka.daportfolio.com/
      li
        a href="http://tsvetka.deviantart.com/" http://tsvetka.deviantart.com/
      li
        a href="http://www.behance.net/tsvetka" http://www.behance.net/tsvetka
      li
        a href="http://svetlanatigai.blogspot.com/" http://svetlanatigai.blogspot.com/

  .span6
    h4 Kalys Osmonov
    p Programming
    img src="/img/Kalys.jpg"
    p
    ul.unstyled
      li
        a href="http://github.com/kalys" http://github.com/kalys
